[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages]
django = "*"
django-split-settings = "*"
django-environ = "*"
django-filter = "*"
django-mysql = "*"
mysqlclient = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-env = "*"
requests = "*"
factory-boy = "*"
gunicorn = "*"
django-multiselectfield = "*"
django-datatables-view = "*"
django-crispy-forms = "*"
django-js-reverse = "*"
django-redis-cache = "*"
celery = "*"
redis = "*"
flower = "*"

[dev-packages]
"flake8" = "*"
autoflake = "*"
bpython = "*"
epc = "*"
importmagic = "*"
ipdb = "*"
ipython = "*"
pyls-black = "*"
pyls-isort = "*"
rope = "*"
